html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    color: #fff;
    text-align: center;
}

#game-board {
    height: 600px;
    width: 600px;
    background-color: #fff;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
}

#score, #high-score {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    color: yellow;
    text-align: center;
    margin-top: 20px;
}

.snake {
    background-color: green;
    border: 1px solid darkgreen;
}

.food {
    background-color: red;
    border: 1px solid darkred;
}

.snake-head {
    background-color: rgb(0, 221, 85);
}

#scores-list {
    color: red;
}

#restart-button {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
}

#game-board, #game-title, #score, #high-score, #restart-button, #leaderboard {
    transition: all 0.5s ease;
}

#scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#leaderboard h3 {
    font-family: 'Press Start 2P';
    font-weight: 300;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

#leaderboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P';
    font-size: 1em;
    margin-bottom: 15px;
}

#leaderboard li {
    padding: 5px 0;
}

#button-container {
    display: flex;
    justify-content: center;
}

#name-input h2 {
    font-family: 'Press Start 2P';
    font-weight: 100;
    font-size: 22px;
    color: #fff;
}

#player-name {
    font-family: 'Press Start 2P';
    color: #fff;
}

#name-input button {
    font-family: 'Press Start 2P';
    font-weight: 100;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    border: #000;
}
#name-input button:hover {
    font-family: 'Press Start 2P';
    font-weight: 100;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    border: #000;
}

.input-style {
    /* Add your styles here */
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #000;
}


@media (max-width: 600px) {
    #game-board {
        height: 350px;
        width: 350px;
    }

    #game-title {
        font-size: 1em;
    }

    #score, #high-score, #restart-button {
        font-size: 0.75em;
    }

    #leaderboard {
        font-size: 0.6em;
    }
}